.jumbotron {
    background: url(../assets/pexels-photo-311012.jpeg) ;
    background-size: cover;
    color: whitesmoke;
    height: 75vh;
    /* text-align: center; use similar option with current portfolio */ 
    
}